.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;

}
.nav li{
    display:inline-block;
}
.nav a{
    color:whitesmoke;
    background-color:lightseagreen;
    display: inline-block;
    padding:0.5em 1.5em;
    border-radius: 50px;
}
.nav a:hover{
    background-color: cadetblue;
}
.title{
    text-align: center;
}
.song{
    text-align: center;
    background-color:lightgrey;
    padding: 0.5em;
    border-radius:50px;
}
.head{
    background-color: lightseagreen;
    color: whitesmoke;
    padding: 0.5em;
    border-radius:20px;
}
.foot{
    background-color:lightgrey;
}
.searchForm{
    width: 300px;
    border: 15px solid lightgray;
    padding: 50px;
    margin-left:auto;
    margin-right:auto;
}
.enterText{
    margin:5px;
}
.dropDown{
    margin:5px;
    background-color:white;
    display: inline-block;
    padding:0.2em 0.2em;
    border-radius: 50px;
    height:20px;
    width:100px;
}
form{
    display:block;
    text-align:center;
    border:1px solid;
    padding:10px;
    text-align: center;
}
label{
    padding:5px;
}
body {
    background-color:lightblue;
    font-weight: bold;
    color: white;
}



:root{
    --txt-color: #deb164;
    --main-bg-color: #151515; 
    --sec-bg-color: #1f1f1f;
    --main-txt-color: #e3cba3;
    font-family: sans-serif;
}

nav,body{
    background-color: var(--main-bg-color);
}
.container{
    color: var(--main-txt-color);
    background-color: var(--sec-bg-color);
}
h1{
    font-size: 32px;
    padding-top: 14px;
    padding-bottom: 7px;
    font-weight: bolder;
    color: var(--txt-color);
}
h2{
    font-size: 23px;
    padding-bottom: 21px;
    font-weight: bold;
    color: var(--txt-color);
}
hr{
    border-color: var(--main-txt-color);
    padding-bottom: 7px;
}

@media screen and (min-width: 600px) {

    .row {
        width: 500px;
        margin-left: auto;
        margin-right: auto;

    }
    .col-{
        width: 700px;
    }

} 

@media screen and (min-width: 1200px) {

    .row {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;

    }
    .col-{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }


} 

h3{
    font-size: 17px;
    padding-bottom: 14px
}

.order{
    padding-left: 30px
}

/* image background*/
figure {
    border: 1pt solid;
    width: auto;
    height: 103px;
    float: right;
}

nav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    text-align:left;
}
.nav li{
    display:inline-block;
    margin: 8px;
}

.nav a {
    color:black;
    display: inline-block;
    padding: 0.5em 0.75em;
}

.nav a:hover{
    background-color:var(--sec-bg-color);
    color: var(--main-txt-color);
}
.nav .current{
    background-color:var(--txt-color);
    border-radius:3px;
}

a{
    color: var(--txt-color);
}

footer{
    color: var(--main-txt-color);
}

p, h3, h4, h5, h6{
    color: var(--main-txt-color);
}
